@use "../abstracts/media-queries";

footer {
  grid-area: footer;

  > * {
    text-align: center;

    @include media-queries.for_breakpoint(desktop) {
      font-size: 1.25rem;
      margin-bottom: 0.75rem;
    }
    @include media-queries.for_breakpoint(tablet) {
      font-size: 1.25rem;
      margin-bottom: 0.75rem;
    }
    @include media-queries.for_breakpoint(mobile) {
      font-size: 1rem;
      margin-bottom: 1rem;
    }
  }

  > p {
    > a {
      font-weight: bold;
    }
  }
}
