@use "../abstracts/variables";

.home-page {
  > h1 {
    text-align: center;
    margin-bottom: 1rem;
  }
}

.legend {
  text-align: center;
  grid-area: legend;
  clear: both;
  display: inline-block;
  width: 100%;
  margin-bottom: 0.75rem;

  .legend-scale {
    ul {
      display: inline-block;
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: center;

      li {
        display: inline-block;
        width: auto;
        margin-bottom: 6px;
        text-align: left;
        list-style: none;
      }
    }
  }

  ul.legend-labels li span {
    display: block;
    float: left;
    height: 16px;
    width: 16px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 18px;

    &.section-leader {
      background-color: variables.$section-leader;
    }

    &.super-senior {
      background-color: variables.$super-senior;
    }

    &.senior {
      background-color: variables.$senior;
    }

    &.junior {
      background-color: variables.$junior;
    }

    &.sophomore {
      background-color: variables.$sophomore;
    }

    &.freshman {
      background-color: variables.$freshman;
    }
  }
}
