@use "../abstracts/variables";
@use "../abstracts/media-queries";

.section-by-year-header {
    text-align: center;

    > .title {
        margin-bottom: 1rem;
    }

    > a {
        > picture {
            > .section-photo {
                border-radius: variables.$border-radius;
                object-fit: contain;

                @include media-queries.for_breakpoint(desktop tablet) {
                    width: auto;
                    height: 500px;
                    margin-bottom: 2rem;
                }
                @include media-queries.for_breakpoint(mobile) {
                    width: 90%;
                    height: auto;
                }
            }
        }
    }
}
