@use "../abstracts/media-queries";

.section {
  display: grid;
  column-gap: 15px;

  margin-left: 7%;
  margin-right: 7%;

  @include media-queries.for_breakpoint(desktop) {
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    grid-auto-rows: 300px;
    row-gap: 60px;
    margin-bottom: 3rem;
  }
  @include media-queries.for_breakpoint(tablet) {
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    grid-auto-rows: 300px;
    row-gap: 60px;
    margin-bottom: 3rem;
  }
  @include media-queries.for_breakpoint(mobile) {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-auto-rows: 150px;

    margin-top: 5rem;
    margin-bottom: 1.5rem;

    row-gap: 110px;
    &.vertically-tighter {
      margin-top: 2.5rem;
      row-gap: 65px;
    }
  }
}
