@use "../vendors-extensions/honeycomb";

a {
  text-decoration: none;
  color: honeycomb.$light-theme-color-on-background;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
