{{define "archives-incomplete"}}
<div class="video-mask">
    <video autoplay muted loop class="archives-incomplete">
        <source src="/static/video/perhaps-the-archives-are-incomplete.mp4" type="video/mp4" >
        Your browser does not support the video tag.
    </video>
</div>
{{end}}
