{{define "header"}}
<header>
    <h1 class="logo"><a href="/">ΨΜΣΗ</a></h1>

    {{template "nav" .}}

    {{template "social-media" .}}
</header>
{{end}}

{{define "social-media"}}
<div class="socials">
    <ul>
        {{range .Header.SocialMedia}}
        {{template "social-media-icon" .}}
        {{end}}
    </ul>
</div>
{{end}}

{{define "social-media-icon"}}
<li class="social-media-icon">
    <a href="{{.Link}}">
        {{- fontawesome .Icon.Prefix .Icon.Name -}}
    </a>
</li>
{{end}}
