{{define "metadata"}}
{{template "metadata-standard" .}}
{{template "metadata-opengraph" .}}
{{template "metadata-twitter" .}}
{{template "metadata-android" .}}
{{template "metadata-microformats" .}}
{{end}}

{{define "metadata-standard"}}
<meta charset="{{.Metadata.Charset}}" />
<title>{{title .Page.DisplayName}} | Purdoobahs ΨΜΣΗ</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="{{.Metadata.Description}}" />
<meta name="summary" content="{{.Metadata.Description}}" />
<meta name="keywords" content="{{keywords .Metadata.Keywords}}" />
<meta name="author" content="{{.Metadata.Author}}" />
<meta name="application-name" content="{{.Metadata.Project}}" />
<meta name="copyright" content="{{.Metadata.Project}}" />
<meta name="subject" content="{{.Metadata.Project}}" />
<meta name="topic" content="{{.Metadata.Project}}" />
<meta name="designer" content="{{.Metadata.Author}}" />
<meta name="owner" content="{{.Metadata.Author}}" />
{{end}}

{{/* https://ogp.me/ */}}
{{define "metadata-opengraph"}}
<meta property="og:title" content="{{.Metadata.Project}}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{template "canonical-url" .}}" />
<meta property="og:image" content="/static/image/purdoobahs.webp" />
<meta property='og:description' content='{{.Metadata.Description}}' />
<meta property='og:locale' content='{{.Metadata.LanguageCode}}_{{.Metadata.CountryCode}}' />
<meta property='og:site_name' content='{{.Metadata.Project}}' />
{{end}}

{{/* https://developer.twitter.com/en/docs/tweets/optimize-with-cards/overview/abouts-cards */}}
{{define "metadata-twitter"}}
<meta name='twitter:card' content='summary' />
<meta name='twitter:creator' content='{{.Metadata.Twitter.Username}}' />
<meta name='twitter:site' content='{{.Metadata.Twitter.Username}}' />
<meta name='twitter:title' content='{{.Metadata.Project}}' />
<meta name='twitter:description' content='{{.Metadata.Description}}' />
<meta name='twitter:url' content='{{template "canonical-url" .}}' />
<meta name='twitter:image' content='/static/image/purdoobahs.webp' />
<meta name='twitter:image:alt' content='{{.Metadata.Project}}' />
{{end}}

{{define "metadata-android"}}
<meta name='theme-color' content='{{.Metadata.ThemeColor}}' />
{{end}}

{{define "metadata-microformats"}}
<link href='{{- template "canonical-url" . -}}' rel='canonical' />
<link href='{{.Metadata.HomeURL}}' rel='home' />
<meta name="robots" content="index,follow" />
<link type='text/plain' rel='author' href='/humans.txt' />
<!-- <link href='/help' rel='help' > -->
{{end}}

