{{define "nav"}}
<nav>
    <ul>
        {{range .Header.NavLinks}}
        <li>
            <a href="{{- .URL -}}" class="{{- if eq $.Page.DisplayName .DisplayName -}}bold{{- end -}}">
                {{- .DisplayName -}}
            </a>
        </li>
        {{end}}
    </ul>
</nav>
{{end}}
