// theme
$dark-theme-color-background: #333;
$dark-theme-color-on-background: #c28e0e;

// purdoobah card colors
$section-leader: #c28e0e;
$super-senior: #ba55d3;
$senior: #ed3742;
$junior: #62bb47;
$sophomore: #3bcaef;
$freshman: #f9beff;

// rounded corners
$border-radius: 18px;
